/* Reset some default browser styles */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

/* Reset body margin */
body {
    margin: 0;
    padding: 0;
}

/* Reset margin on first heading in welcome section */
#welcome > h2:first-child {
    margin-top: 0;
}

/* Header styling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 10px; /* Adjust the padding values here */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}


nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}


/* Basic styling for the entire page - updated to add padding-top */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image: url("img/horse8.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #333;
    padding: 20px;
    padding-top: 100px; /* Add enough padding to account for the fixed header */
}

header h1 {
    color: #fff;
}

/* Section and content styling */
section {
    margin-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 20px;
    border-radius: 5px;
}

section p {
    margin-bottom: 10px;
}

section ul {
    margin-top: 10px;
}

blockquote {
    border-left: 5px solid #333;
    font-style: italic;
    margin-bottom: 20px;
    padding: 10px 20px;
}

blockquote cite {
    display: block;
    font-style: normal;
    font-weight: bold;
    text-align: right;
    margin-top: 5px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.gallery figure {
    max-width: 300px;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

.gallery img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.gallery figcaption {
    font-size: 0.9em;
    margin-top: 5px;
}

/* Footer styling */
footer {
    background-color: rgba(51, 51, 51, 0.75);
    color: #fff;
    text-align: center;
    padding: 20px;
}

section ul {
    margin-top: 10px;
    padding-left: 30px; /* Add left padding to indent the list */
}

section li {
    margin-bottom: 15px; /* Add space between list items */
}

section li strong {
    display: block; /* Make the titles display as a block, so the description starts on the next line */
}

.contact-info {
    display: flex;
    justify-content: space-around;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 5px;
    text-align: center;
    flex: 1;
    font-size: 1.3em;
}

.contact-item img {
    width: 26px;
    height: 26px;
}
